In [1]:
import pandas as pd
import numpy as np

# CAMAS

In [3]:
df_camas = pd.read_csv("Data/data_camas.csv")

df_camas

,Comunidades autónomas,Cantidad hospitales,Cantidad camas,Camas por habitantes
0,Andalucía,50,14.407,1.7
1,Aragón,20,4.091,3.4
2,"Asturias, Principado",12,3.053,3.2
3,"Balears, Illes",11,2.251,2.2
4,Canarias,12,4.326,2.1
5,Cantabria,5,1.502,2.7
6,Castilla y León,16,6.649,3.1
7,Castilla-La Mancha,20,4.497,2.5
8,Cataluña,157,26.199,3.7
9,Comunitat Valenciana,39,10.430,2.3
10,Extremadura,12,3.508,3.5
11,Galicia,19,7.653,3.2
12,"Madrid, Comunidad de",37,12.578,2.1
13,"Murcia, Región de",16,3.503,2.5
14,"Navarra, C. Foral de",6,1.595,2.7
15,País Vasco,26,6.042,3.1
16,"Rioja, La",6,991.000,3.2
17,Ceuta y Melilla,2,341.000,2.5

In [4]:
df_camas.columns = ['Comunidades y Ciudades Autónomas', 'Cantidad hospitales', 'Cantidad camas','Camas por habitantes']

# Aquí cambio de nombre a la columna por "Comunidades y Ciudades Autónomas"

In [5]:
df_camas

,Comunidades y Ciudades Autónomas,Cantidad hospitales,Cantidad camas,Camas por habitantes
0,Andalucía,50,14.407,1.7
1,Aragón,20,4.091,3.4
2,"Asturias, Principado",12,3.053,3.2
3,"Balears, Illes",11,2.251,2.2
4,Canarias,12,4.326,2.1
5,Cantabria,5,1.502,2.7
6,Castilla y León,16,6.649,3.1
7,Castilla-La Mancha,20,4.497,2.5
8,Cataluña,157,26.199,3.7
9,Comunitat Valenciana,39,10.430,2.3
10,Extremadura,12,3.508,3.5
11,Galicia,19,7.653,3.2
12,"Madrid, Comunidad de",37,12.578,2.1
13,"Murcia, Región de",16,3.503,2.5
14,"Navarra, C. Foral de",6,1.595,2.7
15,País Vasco,26,6.042,3.1
16,"Rioja, La",6,991.000,3.2
17,Ceuta y Melilla,2,341.000,2.5

In [7]:
df_camas.to_csv("Data/clean_data_camas.csv", index=False)

---
---

# DENSIDAD POBLACIÓN

In [10]:
df_densidad_poblacion = pd.read_csv("Data/Densidad_poblacion.csv")

df_densidad_poblacion

   Comunidades y Ciudades Autónomas Tamaño de los municipios  Periodo    Total
0                      01 Andalucía                    Total     2021  8472407
1                       09 Cataluña                    Total     2021  7763362
2           13 Madrid, Comunidad de                    Total     2021  6751251
3           10 Comunitat Valenciana                    Total     2021  5058138
4                        12 Galicia                    Total     2021  2695645
5                07 Castilla y León                    Total     2021  2383139
6                     16 País Vasco                    Total     2021  2213993
7                       05 Canarias                    Total     2021  2172944
8           08 Castilla - La Mancha                    Total     2021  2049562
9              14 Murcia, Región de                    Total     2021  1518486
10                        02 Aragón                    Total     2021  1326261
11                04 Balears, Illes                    Total     2021  1173008
12                   11 Extremadura                    Total     2021  1059501
13       03 Asturias, Principado de                    Total     2021  1011792
14   15 Navarra, Comunidad Foral de                    Total     2021   661537
15                     06 Cantabria                    Total     2021   584507
16                     17 Rioja, La                    Total     2021   319796
17                       19 Melilla                    Total     2021    86261
18                         18 Ceuta                    Total     2021    83517

In [76]:
df_densidad_poblacion["Comunidades y Ciudades Autónomas"]= df_densidad_poblacion["Comunidades y Ciudades Autónomas"].str[3:]

In [77]:
df_densidad_poblacion

   Comunidades y Ciudades Autónomas Tamaño de los municipios  Periodo    Total
0                         Andalucía                    Total     2021  8472407
1                          Cataluña                    Total     2021  7763362
2              Madrid, Comunidad de                    Total     2021  6751251
3              Comunitat Valenciana                    Total     2021  5058138
4                           Galicia                    Total     2021  2695645
5                   Castilla y León                    Total     2021  2383139
6                        País Vasco                    Total     2021  2213993
7                          Canarias                    Total     2021  2172944
8              Castilla - La Mancha                    Total     2021  2049562
9                 Murcia, Región de                    Total     2021  1518486
10                           Aragón                    Total     2021  1326261
11                   Balears, Illes                    Total     2021  1173008
12                      Extremadura                    Total     2021  1059501
13          Asturias, Principado de                    Total     2021  1011792
14      Navarra, Comunidad Foral de                    Total     2021   661537
15                        Cantabria                    Total     2021   584507
16                        Rioja, La                    Total     2021   319796
17                          Melilla                    Total     2021    86261
18                            Ceuta                    Total     2021    83517

In [134]:
df_densidad_poblacion.to_csv("Data/df_densidad_poblacion.csv", index=False)

NameError: name 'clean_df_densidad_poblacion' is not defined

---
---

# ESTANCIAS HOSPITALES

In [2]:
df_estancias = pd.read_csv("Data/Estancia_comunidades.csv", sep = "\t")

df_estancias

,Sexo,Diagnóstico principal (CIE10MC),Total Nacional,Comunidades y Ciudades Autónomas,Provincias,Total
0,Ambos sexos,"TODAS LAS CAUSAS A00-Z99 (salvo los códigos V,...",TOTAL NACIONAL,NaN,NaN,39.584.782
1,Ambos sexos,"TODAS LAS CAUSAS A00-Z99 (salvo los códigos V,...",TOTAL NACIONAL,ANDALUCÍA,NaN,4.761.302
2,Ambos sexos,"TODAS LAS CAUSAS A00-Z99 (salvo los códigos V,...",TOTAL NACIONAL,ANDALUCÍA,Almería,375.821
3,Ambos sexos,"TODAS LAS CAUSAS A00-Z99 (salvo los códigos V,...",TOTAL NACIONAL,ANDALUCÍA,Cádiz,736.773
4,Ambos sexos,"TODAS LAS CAUSAS A00-Z99 (salvo los códigos V,...",TOTAL NACIONAL,ANDALUCÍA,Córdoba,426.425
...,...,...,...,...,...,...
28603,Mujeres,ALTAS SIN DIAGNÓSTICO,TOTAL NACIONAL,PAÍS VASCO,Gipuzkoa,..
28604,Mujeres,ALTAS SIN DIAGNÓSTICO,TOTAL NACIONAL,"RIOJA, LA",NaN,49
28605,Mujeres,ALTAS SIN DIAGNÓSTICO,TOTAL NACIONAL,Ceuta,NaN,4
28606,Mujeres,ALTAS SIN DIAGNÓSTICO,TOTAL NACIONAL,Melilla,NaN,47
28607,Mujeres,ALTAS SIN DIAGNÓSTICO,Extranjero,NaN,NaN,101

In [4]:
#df_estancias.loc[df_estancias["Total"]=="0"]

In [5]:
df_estancias["Total"] = df_estancias["Total"].str.replace(".","").astype(int) # Especifico que la columna total es tipo número

/var/folders/38/1j12hrcs7wq4fbfds1tjh1xm0000gp/T/ipykernel_12939/2848130566.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_estancias["Total"] = df_estancias["Total"].str.replace(".","").astype(int) # Especifico que la columna total es tipo número

In [6]:
df_estancias.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28608 entries, 0 to 28607
Data columns (total 6 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Sexo                              28608 non-null  object
 1   Diagnóstico principal (CIE10MC)   28608 non-null  object
 2   Total Nacional                    28608 non-null  object
 3   Comunidades y Ciudades Autónomas  27714 non-null  object
 4   Provincias                        19221 non-null  object
 5   Total                             28608 non-null  int64
dtypes: int64(1), object(5)
memory usage: 1.3+ MB

In [7]:
df_estancias.groupby("Comunidades y Ciudades Autónomas").sum() # Realizo un groupby

                                      Total
Comunidades y Ciudades Autónomas
ANDALUCÍA                          56956578
ARAGÓN                             15430020
ASTURIAS, PRINCIPADO DE             5643501
BALEARS, ILLES                      6457565
CANARIAS                           23709734
CANTABRIA                           3283474
CASTILLA - LA MANCHA               15859775
CASTILLA Y LEÓN                    30543740
CATALUÑA                          100885897
COMUNITAT VALENCIANA               38042992
Ceuta                                249479
EXTREMADURA                        11130218
GALICIA                            28367368
MADRID, COMUNIDAD DE               32668910
MURCIA, REGIÓN DE                   7672140
Melilla                              343412
NAVARRA, COMUNIDAD FORAL DE         3098494
PAÍS VASCO                         25340069
RIOJA, LA                           1954071

In [9]:
df_estancias["Comunidades y Ciudades Autónomas"] = df_estancias["Comunidades y Ciudades Autónomas"].str.capitalize()

In [10]:
df_estancias = df_estancias.loc[df_estancias["Sexo"] == "Ambos sexos"]

In [11]:
df_estancias.loc[df_estancias["Provincias"].isnull()]

,Sexo,Diagnóstico principal (CIE10MC),Total Nacional,Comunidades y Ciudades Autónomas,Provincias,Total
0,Ambos sexos,"TODAS LAS CAUSAS A00-Z99 (salvo los códigos V,...",TOTAL NACIONAL,NaN,NaN,39584782
1,Ambos sexos,"TODAS LAS CAUSAS A00-Z99 (salvo los códigos V,...",TOTAL NACIONAL,Andalucía,NaN,4761302
10,Ambos sexos,"TODAS LAS CAUSAS A00-Z99 (salvo los códigos V,...",TOTAL NACIONAL,Aragón,NaN,1288717
14,Ambos sexos,"TODAS LAS CAUSAS A00-Z99 (salvo los códigos V,...",TOTAL NACIONAL,"Asturias, principado de",NaN,943142
15,Ambos sexos,"TODAS LAS CAUSAS A00-Z99 (salvo los códigos V,...",TOTAL NACIONAL,"Balears, illes",NaN,1097088
...,...,...,...,...,...,...
9528,Ambos sexos,ALTAS SIN DIAGNÓSTICO,TOTAL NACIONAL,País vasco,NaN,144
9532,Ambos sexos,ALTAS SIN DIAGNÓSTICO,TOTAL NACIONAL,"Rioja, la",NaN,500
9533,Ambos sexos,ALTAS SIN DIAGNÓSTICO,TOTAL NACIONAL,Ceuta,NaN,7
9534,Ambos sexos,ALTAS SIN DIAGNÓSTICO,TOTAL NACIONAL,Melilla,NaN,92
9535,Ambos sexos,ALTAS SIN DIAGNÓSTICO,Extranjero,NaN,NaN,1580

In [12]:
mierda = df_estancias.loc[~df_estancias["Provincias"].isnull()]

mierda

,Sexo,Diagnóstico principal (CIE10MC),Total Nacional,Comunidades y Ciudades Autónomas,Provincias,Total
2,Ambos sexos,"TODAS LAS CAUSAS A00-Z99 (salvo los códigos V,...",TOTAL NACIONAL,Andalucía,Almería,375821
3,Ambos sexos,"TODAS LAS CAUSAS A00-Z99 (salvo los códigos V,...",TOTAL NACIONAL,Andalucía,Cádiz,736773
4,Ambos sexos,"TODAS LAS CAUSAS A00-Z99 (salvo los códigos V,...",TOTAL NACIONAL,Andalucía,Córdoba,426425
5,Ambos sexos,"TODAS LAS CAUSAS A00-Z99 (salvo los códigos V,...",TOTAL NACIONAL,Andalucía,Granada,550809
6,Ambos sexos,"TODAS LAS CAUSAS A00-Z99 (salvo los códigos V,...",TOTAL NACIONAL,Andalucía,Huelva,301444
...,...,...,...,...,...,...
9523,Ambos sexos,ALTAS SIN DIAGNÓSTICO,TOTAL NACIONAL,Galicia,Ourense,18
9524,Ambos sexos,ALTAS SIN DIAGNÓSTICO,TOTAL NACIONAL,Galicia,Pontevedra,618
9529,Ambos sexos,ALTAS SIN DIAGNÓSTICO,TOTAL NACIONAL,País vasco,Araba/Álava,28
9530,Ambos sexos,ALTAS SIN DIAGNÓSTICO,TOTAL NACIONAL,País vasco,Bizkaia,88
9531,Ambos sexos,ALTAS SIN DIAGNÓSTICO,TOTAL NACIONAL,País vasco,Gipuzkoa,28

In [13]:
mierda.groupby(["Diagnóstico principal (CIE10MC)", "Comunidades y Ciudades Autónomas", "Provincias"]).sum()

                                                                                                  Total
Diagnóstico principal (CIE10MC)                    Comunidades y Ciudades Autónomas Provincias
0100 CIERTAS ENFERMEDADES INFECCIOSAS Y PARASIT... Andalucía                        Almería       12435
                                                                                    Cádiz         32419
                                                                                    Córdoba       12930
                                                                                    Granada       21774
                                                                                    Huelva        11383
...                                                                                                 ...
TODAS LAS CAUSAS A00-Z99 (salvo los códigos V, ... Galicia                          Ourense      331969
                                                                                    Pontevedra   839780
                                                   País vasco                       Araba/Álava  323496
                                                                                    Bizkaia      959693
                                                                                    Gipuzkoa     831826

[6407 rows x 1 columns]

In [15]:
mierda.groupby(["Diagnóstico principal (CIE10MC)", "Comunidades y Ciudades Autónomas", "Provincias"]).sum().loc[("TODAS LAS CAUSAS A00-Z99 (salvo los códigos V, W, X, Y)", "Andalucía")].sum()

Total    4761301
dtype: int64

In [16]:
df_estancias = df_estancias.loc[df_estancias["Provincias"].isnull()]

In [17]:
df_estancias = df_estancias.drop(columns=["Sexo", "Provincias"])

In [19]:
df_estancias

,Diagnóstico principal (CIE10MC),Total Nacional,Comunidades y Ciudades Autónomas,Total
0,"TODAS LAS CAUSAS A00-Z99 (salvo los códigos V,...",TOTAL NACIONAL,NaN,39584782
1,"TODAS LAS CAUSAS A00-Z99 (salvo los códigos V,...",TOTAL NACIONAL,Andalucía,4761302
10,"TODAS LAS CAUSAS A00-Z99 (salvo los códigos V,...",TOTAL NACIONAL,Aragón,1288717
14,"TODAS LAS CAUSAS A00-Z99 (salvo los códigos V,...",TOTAL NACIONAL,"Asturias, principado de",943142
15,"TODAS LAS CAUSAS A00-Z99 (salvo los códigos V,...",TOTAL NACIONAL,"Balears, illes",1097088
...,...,...,...,...
9528,ALTAS SIN DIAGNÓSTICO,TOTAL NACIONAL,País vasco,144
9532,ALTAS SIN DIAGNÓSTICO,TOTAL NACIONAL,"Rioja, la",500
9533,ALTAS SIN DIAGNÓSTICO,TOTAL NACIONAL,Ceuta,7
9534,ALTAS SIN DIAGNÓSTICO,TOTAL NACIONAL,Melilla,92
9535,ALTAS SIN DIAGNÓSTICO,Extranjero,NaN,1580

In [21]:
df_total_nacional = df_estancias.loc[(df_estancias["Total Nacional"]=="TOTAL NACIONAL") & ~(df_estancias["Comunidades y Ciudades Autónomas"].isnull())]

In [23]:
df_total_extranjero = df_estancias.loc[df_estancias["Total Nacional"]=="Extranjero"]

In [24]:
df_total_nacional

,Diagnóstico principal (CIE10MC),Total Nacional,Comunidades y Ciudades Autónomas,Total
1,"TODAS LAS CAUSAS A00-Z99 (salvo los códigos V,...",TOTAL NACIONAL,Andalucía,4761302
10,"TODAS LAS CAUSAS A00-Z99 (salvo los códigos V,...",TOTAL NACIONAL,Aragón,1288717
14,"TODAS LAS CAUSAS A00-Z99 (salvo los códigos V,...",TOTAL NACIONAL,"Asturias, principado de",943142
15,"TODAS LAS CAUSAS A00-Z99 (salvo los códigos V,...",TOTAL NACIONAL,"Balears, illes",1097088
16,"TODAS LAS CAUSAS A00-Z99 (salvo los códigos V,...",TOTAL NACIONAL,Canarias,1997630
...,...,...,...,...
9527,ALTAS SIN DIAGNÓSTICO,TOTAL NACIONAL,"Navarra, comunidad foral de",2448
9528,ALTAS SIN DIAGNÓSTICO,TOTAL NACIONAL,País vasco,144
9532,ALTAS SIN DIAGNÓSTICO,TOTAL NACIONAL,"Rioja, la",500
9533,ALTAS SIN DIAGNÓSTICO,TOTAL NACIONAL,Ceuta,7
9534,ALTAS SIN DIAGNÓSTICO,TOTAL NACIONAL,Melilla,92

In [36]:
df_total_extranjero

,Diagnóstico principal (CIE10MC),Total Nacional,Comunidades y Ciudades Autónomas,Total
63,"TODAS LAS CAUSAS A00-Z99 (salvo los códigos V,...",Extranjero,NaN,350465
127,0100 CIERTAS ENFERMEDADES INFECCIOSAS Y PARASI...,Extranjero,NaN,19258
191,"0101 Enfermedades infecciosas intestinales, ex...",Extranjero,NaN,1173
255,0102 Gastroenteritis y colitis infecciosas A09,Extranjero,NaN,1360
319,"0103 Tuberculosis A15-A19, B90",Extranjero,NaN,2375
...,...,...,...,...
9279,2102 Asistencia anticonceptiva Z30,Extranjero,NaN,15
9343,2103 Recién nacidos con vida según el tipo de ...,Extranjero,NaN,684
9407,2104 Otra atención médica (incluyendo sesiones...,Extranjero,NaN,1858
9471,2105 Otros factores que influyen en el estado ...,Extranjero,NaN,1853
9535,ALTAS SIN DIAGNÓSTICO,Extranjero,NaN,1580

In [42]:
df_estancias = pd.concat([df_total_nacional, df_total_extranjero]).reset_index(drop = True)

In [43]:
df_estancias

,Diagnóstico principal (CIE10MC),Total Nacional,Comunidades y Ciudades Autónomas,Total
0,"TODAS LAS CAUSAS A00-Z99 (salvo los códigos V,...",TOTAL NACIONAL,Andalucía,4761302
1,"TODAS LAS CAUSAS A00-Z99 (salvo los códigos V,...",TOTAL NACIONAL,Aragón,1288717
2,"TODAS LAS CAUSAS A00-Z99 (salvo los códigos V,...",TOTAL NACIONAL,"Asturias, principado de",943142
3,"TODAS LAS CAUSAS A00-Z99 (salvo los códigos V,...",TOTAL NACIONAL,"Balears, illes",1097088
4,"TODAS LAS CAUSAS A00-Z99 (salvo los códigos V,...",TOTAL NACIONAL,Canarias,1997630
...,...,...,...,...
2975,2102 Asistencia anticonceptiva Z30,Extranjero,NaN,15
2976,2103 Recién nacidos con vida según el tipo de ...,Extranjero,NaN,684
2977,2104 Otra atención médica (incluyendo sesiones...,Extranjero,NaN,1858
2978,2105 Otros factores que influyen en el estado ...,Extranjero,NaN,1853
2979,ALTAS SIN DIAGNÓSTICO,Extranjero,NaN,1580

In [44]:
df_estancias.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2980 entries, 0 to 2979
Data columns (total 4 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Diagnóstico principal (CIE10MC)   2980 non-null   object
 1   Total Nacional                    2980 non-null   object
 2   Comunidades y Ciudades Autónomas  2831 non-null   object
 3   Total                             2980 non-null   int64
dtypes: int64(1), object(3)
memory usage: 93.2+ KB

In [45]:
df_estancias.to_csv("Data/clean_estancias.csv", index= False) # Guardo el archivo en CSV sin índices

---
---

In [59]:
#df_estancias["Diagnóstico principal (CIE10MC)"].unique()

In [78]:
#df_estancias.loc[df_estancias["Diagnóstico principal (CIE10MC)"] == 'TODAS LAS CAUSAS A00-Z99 (salvo los códigos V, W, X, Y)']

In [44]:
df_estancias["Comunidades y Ciudades Autónomas"].unique()

array([nan, 'Andalucía', 'Aragón', 'Asturias, principado de',
       'Balears, illes', 'Canarias', 'Cantabria', 'Castilla y león',
       'Castilla - la mancha', 'Cataluña', 'Comunitat valenciana',
       'Extremadura', 'Galicia', 'Madrid, comunidad de',
       'Murcia, región de', 'Navarra, comunidad foral de', 'País vasco',
       'Rioja, la', 'Ceuta', 'Melilla'], dtype=object)

In [31]:
#df_estancias = df_estancias.dropna()

In [51]:
df_estancias["Diagnóstico principal (CIE10MC)"].value_counts(dropna=False)

TODAS LAS CAUSAS A00-Z99 (salvo los códigos V, W, X, Y)                                192
1303 Trastorno interno de rodilla M23                                                  192
1305 Trastornos sistémicos del tejido conectivo M30-M36                                192
1306 Dorsopatías deformantes y espondilopatías M40-M49                                 192
1307 Trastorno del disco intervertebral M50-M51                                        192
                                                                                      ...
0905 Enfermedad pulmonar cardíaca y enfermedades de la circulación pulmonar I26-I28    192
0906 Trastornos de conducción y disritmias cardiacas I44-I49                           192
0907 Insuficiencia cardiaca I50                                                        192
0908 Enfermedades cerebrovasculares I60-I69                                            192
ALTAS SIN DIAGNÓSTICO                                                                  192
Name: Diagnóstico principal (CIE10MC), Length: 149, dtype: int64

In [47]:
df_estancias["Comunidades y Ciudades Autónomas"].value_counts(dropna=False)

Castilla y león                4470
Andalucía                      4023
Castilla - la mancha           2682
Galicia                        2235
Cataluña                       2235
Comunitat valenciana           1788
Aragón                         1788
País vasco                     1788
Canarias                       1341
Extremadura                    1341
NaN                             894
Cantabria                       447
Balears, illes                  447
Madrid, comunidad de            447
Murcia, región de               447
Navarra, comunidad foral de     447
Asturias, principado de         447
Rioja, la                       447
Ceuta                           447
Melilla                         447
Name: Comunidades y Ciudades Autónomas, dtype: int64

In [40]:
df_estancias["Comunidades y Ciudades Autónomas"].unique()

array(['Andalucía', 'Aragón', 'Canarias', 'Castilla y león',
       'Castilla - la mancha', 'Cataluña', 'Comunitat valenciana',
       'Extremadura', 'Galicia', 'País vasco'], dtype=object)